* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    width: auto;
    background-color: #151515;
    display: flex;
    flex-direction: column;
}

main {
    min-height: 100%;
    height: auto;
    margin: -50px auto 0;
}

header {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1d1d1f;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

body {
    font-family: "PT Sans", sans-serif;
  
    font-size: 16px;
    line-height: 24px;
}

h2 {
    color: #3ea9b8;
    font-size: 45px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}
input::placeholder {
    color: #212529;
    opacity: 0.4;
}

nav {
    width: 100%;
    display: flex;
}
nav .navigation-list {
    width: 100%;
    display: flex;
    align-items: center;
}
nav .navigation-user {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
nav .navigation-user .img-svg-active {
    position: absolute;
    right: 85px;
    opacity: 0;
    transition-duration: 0.35s;
}
nav .navigation-user .img-svg-active:hover {
    opacity: 1;
    transition-duration: 0.6s;
}
nav .navigation-item {
    margin: 0 10px;
}
nav a {
    text-decoration: none;
    color: #3ea9b8;
    cursor: pointer;
    transition: all .35s ease-in-out;
}
nav a:hover {
    color: #6eeeff;
    transition-duration: 0.6s;
}

nav .target {
    position: absolute;
    border-bottom: 3px solid transparent;
    z-index: -1;
    transform: translateX(-60px);
    transition: all .2s ease-in-out;
}

footer {
    height: 210px;
    width: auto;
    background-color: #1d1d1f;
    padding: 10px;
    align-self: flex-end;
}
footer .contacts-title {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 30px;
}
footer .footer-info {
    width: 100%;
    display: flex
}
footer .worktime-address {
    color: #6fa4ab;
    margin-left: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
}
footer .worktime-address a.contacts-phone {
    text-decoration: none;
    color: #3ea9b8;
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
    transition-duration: 0.35s;
}
footer .worktime-address a.contacts-phone:hover {
    color: #6eeeff;
    transition-duration: 0.6s;
}
footer .worktime-address .contacts-subtitle {
    margin-top: 15px;
}
footer .worktime-address .contacts-schedule-item {
    margin-left: 15px;
}
footer .authorship {
    margin-left: auto;
    align-self: flex-end;
    font-size: 15px;
    color: #6fa4ab;
}