header .page-header-logo-href{
    margin-left: 20px;
    margin-right: 20px;
}

.catalog-products {
    margin-top: 130px;
    text-align: center;
}
.catalog-products .visually-hidden {
    margin-top: 150px;
    margin-bottom: 60px;
}
.catalog-products .product-list {
    width: 95%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 500px 40px 500px 40px 500px;
    grid-template-columns: 500px 500px 500px;
    gap: 40px
}

.catalog-products .product-list .product-card .product-card-title {
    color: #3ea9b8;
}
.catalog-products .product-list .product-card .product-card-price {
    color: #98cdd4;
}
.catalog-products .product-list .product-card .product-card-button {
    text-decoration: none;
    text-decoration: underline;
    color: #3ea9b8;
    cursor: pointer;
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
}
.catalog-products .product-list .product-card .product-card-button:hover {
    color: #6eeeff;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}