.catalog-products {
    margin-top: 130px;
    text-align: center;
}
.catalog-products .visually-hidden {
    margin-bottom: 40px;
}
.catalog-products .product-list {
    width: 100%;
    display: flex;
}
.catalog-products .product-list .product-card {
    margin: 20px auto;
}
.catalog-products .product-list .product-card .product-card-title {
    color: #3ea9b8;
}
.catalog-products .product-list .product-card .product-card-price {
    color: #98cdd4;
}
.catalog-products .product-list .product-card .product-card-button {
    text-decoration: none;
    text-decoration: underline;
    color: #3ea9b8;
    cursor: pointer;
}
.catalog-products .product-list .product-card .product-card-button:hover {
    color: #6eeeff;
    transition-duration: 0.6s;
}